 /* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url('https://fonts.googleapis.com/css?family=Playfair|Roboto|Montserrat|Playfair+Display');

$base-font: "Playfair", "Helvetica", "sans-serif";
$header-font: "Playfair", "Helvetica", "sans-serif";

$red-gold: #FFD700;

$brand-title: "Playfair" 15px red;

