 /* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url('https://fonts.googleapis.com/css?family=Playfair|Lato|Montserrat|Playfair+Display');

$base-font: "Playfair", "Helvetica", "sans-serif";
$header-font: "Montserrat", "Helvetica", "sans-serif";


$black: #00171F;
$silver: #ACB0BD;
$dark-gray: #454851;
$darker-gray: #727274;
$lighter-gray: #D9DADC;

$red-gold: #FFD700;
$green: #62C370;
$light-green: #CDDEA6;
$lighter-green: #2A9D8F;

$yellow: #DDA448;
$bright-yellow: #EAD94C;

$orange: #FF9000;


$blue: #084887;
$light-blue: #3F88C5;

