<div class="wrapper-white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center">
          <h5>Le Wagon - Latest Posts</h5>
        </div>
        <% @wagonposts.each do |w| %>
          <div class="card-article">
            <%= link_to("https://www.lewagon.com/fr/blog/") do %>
              <h3><%= w.title %></h3>
              <p><% w.description %></p>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

