<div class="wrapper-white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="head-card">
          Latest on Le Wagon
          <%= image_tag("lw-logo.png") %>
        </div>
        <% @wagonposts.each do |w| %>
          <div class="card-article">
            <%= link_to("https://www.lewagon.com/fr/blog/") do %>
              <h5><%= w.title %></h5>
              <p><% w.description %></p>
              <i class="fa fa-floppy-o" aria-hidden="true"></i>
              <i class="fa fa-star-o" aria-hidden="true"></i>
              <i class="fa fa-heart-o" aria-hidden="true"></i>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

