<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <h1>It's your shot !</h1>

      <h3>
        Hi <em><%= @user.username %></em>
      </h3>

      <p>Thanks for signing-up to techkilla, your shot of tech news.</p>
      <p>We take great pride in curating only the best news pieces for you to digest. <br>
      We welcome any feedback to make you experience cooler and refreshing </p>

    </div>
  </div>
</div>
