<div class="wrapper-white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
      <div class="head-card">
          Latest on HackerNews
          <%= image_tag("hn-logo.png") %>
        </div>
        <% @hackernews.each do |h| %>
          <div class="card-article">
            <%= link_to("#{h.source}") do %>
              <div class="card-article__title">
                <%= h.title %>
              <p><% h.source %></p>
            <% end %>
            <div class="card-article__actions">
              <div class="post-upvote">
                <div class="upvote-arrow">
                  <i class="fa fa-sort-up" aria-hidden="true"></i>
                </div>
                <div class="upvote-count">
                  0
                </div>
              </div>
            </div>
         </div>
        <% end %>
        <%= paginate @hackernews %>
      </div>
    </div>
  </div>
</div>
