<div class="wrapper-white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center">
          HACKERNEWS
        <% @hackernews.each do |h| %>
          <div class="card-article">
            <%= link_to("#{h.source}") do %>
            <h3><%= h.title %></h3>
             <p><% h.source %></p>
            <% end %>
          </div>
        <% end %>
        <%= paginate @hackernews %>
        </div>
      </div>
    </div>
  </div>
</div>
