<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4">
      <div class="text-center">
        <h1>Editer l'article</h1>
        <%= render 'form' %>
        <%= link_to 'Back', articles_path %>
      </div>
    </div>
  </div>
</div>
