
<div class="wrapper-subnav">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 ">
        <%= render 'shared/sources-menu' %>
      </div>
    </div>
  </div>
</div>
<div class="wrapper-white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="card" id="maincard" >
          <div class="card-block-header">
            <h4 class="text-center">Top of the stack</h4>
          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="card-block-header">
          <h4 class="text-center">HackerNews / Latest </h4>
        </div>
        <% get_latest_hn.each do |hn| %>
          <%= link_to "#{hn.source}" do %>
            <div class="card-article">
              <h5><%= hn.title %></h5>
            </div>
          <% end %>
        <% end %>
        <div class="pagination-controls">
          <%= paginate @hackernews %>
        </div>
      </div>


  </div>
</div>
