<div class="container">

  <div class="row">
    <div class= "col-xs-12 col-md-8 col-md-offset-2 ">


      <div class="text-center"><h2>Mes derniers articles</h2></div>

      <div class="btn btn-default"><%= link_to 'Ecrire un article', new_article_path %></div>



<a href="#" data-background-color="#990000">Paint it red</a>
<a href="#" data-background-color="#009900" data-text-color="#FFFFFF">Paint it green</a>
<a href="#" data-background-color="#000099" data-text-color="#FFFFFF">Paint it blue</a>


        <% @articles.each do |article| %>

          <div class="card">
            <h3><%= article.title %></h3>
            <p><%= article.text[0..55] %></p>



              <%= link_to 'Voir en entier', article_path(article) %>

          </div>
        <% end %>
    </div>
  </div>
</div>

