<div class="wrapper-white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h5 id="hfive">HACKERNEWS</h5>
        <% get_latest_hn.each do |hn| %>
          <%= link_to "#{hn.source}" do %>
            <div class="card-article">
              <h5><%= hn.title %></h5>
            </div>
          <% end %>
        <% end %>
        <div class="pagination-controls">
          <%= paginate @hackernews %>
        </div>
      </div>
  </div>
</div>
