<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-4">

        <h4>Ecrire un nouvel article</h4>

        <%= render 'form' %>
        <%= link_to 'Retour', articles_path %>
    </div>
  </div>
</div>
