<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="footer">
        <div class="text-center">
          <h5>Guillaume Lainé - Tous droits réservés - 2017</h5>
        </div>
      </div>
    </div>
  </div>
</div>
