<div class="menu-sources">
  <h5><%= link_to 'HackerNews', hackernews_path %></h5>
  <h5><%= link_to 'Techcrunch', techcrunches_path %></h5>
  <h5><%= link_to 'TechMeme', techmemes_path %></h5>
  <h5><%= link_to 'Le Wagon', wagonposts_index_path %></h5>
<!--   <h5><% link_to 'Business Insider', wagonposts_index_path %></h5>
  <h5><% link_to 'Motherboard', wagonposts_index_path %></h5>
  <h5><% link_to 'Reddit', wagonposts_index_path %></h5>
  <h5><% link_to 'Medium', wagonposts_index_path %></h5> -->
  <h5><i class="fa fa-heart-o" aria-hidden="true"></i></h5>
</div>

