.btn-new-article {
  background: #FFFFFF;
  max-width: 200px;
  padding: 6px 6px;
  border-radius: 4px;
  font-size: 16px;
  opacity: 0.85;
  text-decoration: none;
  margin: auto;
}

.btn-subscribe {
  color: #ffffff;
  background: $darker-gray;
  border: 1px solid #999999;
  padding: 10px 10px;
  border-radius: 50px;
  line-height: 1;
  font-weight: lighter;
  opacity: 0.9;
}


.btn-subscribe:hover {
  opacity: 1;
  text-decoration: none;
  color: #999999;
  background: $light-green;
}

.btn-new-article:hover {
  opacity: 1;
  text-decoration: none;
  color: #FFFFFF;
}

.btn-clear a:link {
  text-decoration: none;
}


.btn-dark {
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: #6AD58B;
  transition: background 0.3s ease;
}
.btn-dark:hover {
  opacity: 1;
  background: #3ac162;
  text-decoration: none;
  color: white;
}

.btn-submit {
  background: red;
  color: #FFFFFF;
  border: 1px solid #999999;
  padding: 8px 10px;
  border-radius: 50px;
  font-size: 22px;
  font-weight: lighter;
  opacity: 0.6;
}

.btn-edit {
  background: silver;
  color: #FFFFFF;
  padding: 4px 4px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: lighter;
  opacity: 0.9;
}

.btn-full-article {
  width: 120px;
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  background: #334762;
  transition: background 0.3s ease;
  opacity: 0.9;
  a {
    color: silver;
  }
}
.btn-full-article:hover {
  opacity: 1;
  background: #334762;
  text-decoration: none;
  color: silver;
  text-decoration: none;
}

.btn-show-comments {
  color: #999999;
  border: 1px solid #999999;
  padding: 8px 10px;
  border-radius: 5px;
  font-weight: lighter;
  opacity: 0.6;
  width: 140px;
  font-size: 11px;
}
.btn-show-comments:hover {
  opacity: 1;
  text-decoration: none;
  color: #999999;
}


