.btn-new-article {
  background: #FFFFFF;
  max-width: 200px;
  padding: 6px 6px;
  border-radius: 4px;
  font-size: 16px;
  opacity: 0.85;
  text-decoration: none;
  margin: auto;
}
.btn-new-article:hover {
  opacity: 1;
  text-decoration: none;
  color: #FFFFFF;
}

.btn-clear a:link {
  text-decoration: none;
}


.btn-dark {
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: #6AD58B;
  transition: background 0.3s ease;
}
.btn-dark:hover {
  opacity: 1;
  background: #3ac162;
  text-decoration: none;
  color: white;
}

.btn-submit {
  background: red;
  color: #FFFFFF;
  border: 1px solid #999999;
  padding: 8px 10px;
  border-radius: 50px;
  font-size: 22px;
  font-weight: lighter;
  opacity: 0.6;
}

.btn-edit {
  background: silver;
  color: #FFFFFF;
  padding: 4px 4px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: lighter;
  opacity: 0.9;
}

.show-full-article {
  border: 1px solid silver;
  border-radius: 3px;
}


