.card {
/*  border: 2px solid silver;*/
  background: #ccc;
  border-radius: 3px;
  margin: 10px;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 10px;
  font-family: 'Nunito', sans-serif;
  opacity: 0.8;
}

.card:hover {
  background: silver;
  opacity: 1;
}

