.card {
/*  border: 2px solid silver;*/
  position: relative;
  background: #F6F8FF;
  border-radius: 3px;
  margin: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 10px;
  font-family: 'Nunito', sans-serif;
  opacity: 0.90;
  background: -webkit-gradient(radial, 20% 80%, 0, 20% 80%, 350, from(#F6F8FF), to(#fff));
}

.card h1 {
  font-size: 22px;
  margin-top: 10px;
}

.card p {
  overflow: auto;
}


.card:hover {
  background: #FCF7F8;
  opacity: 1;
}

.show-more {
  padding-top: 10px;
}

.card .social-links {
  position: absolute;
  bottom: 10px;
  right: 12px;
  font-size: 18px;
}
