.form-field-email input{
  border-radius: 3px;
  margin-bottom: 12px;
  padding: 4px 8px;
  width: 100%;
  font-size: 11px;
  border-bottom: none;
}


.form-field-password input {
  border-radius: 3px;
  margin-bottom: 12px;
  padding: 4px 8px;
  width: 100%;
  font-size: 11px;
  border-bottom: 1px solid silver
}

.form-login  {
position: relative;
  height: 110px;
font-size: 12px;
margin-top: 15px;
}

.form-login h4 {
  font-size: 9px;
  margin-bottom: 20px;
}

.form-login .login-button {
  position: absolute;
  height: 60px;
  width:60px;
  text-align: center;
  background: $blue;
  color: #ffffff;
  border-radius: 50%;
  bottom: -50px;
  right: 10px;
  opacity: 1;
  font-weight: bold;
  border: none;
  border: 2px solid $orange;
  letter-spacing: 1.2px;
  &:hover {
    background: $orange;
    color: $blue;
    border: 2px solid $bright-yellow;
  }

}


.modal-header {
  background: $bright-yellow;
  h3 {
      letter-spacing: 4px;
  }
}

.modal-header p {
  margin-bottom: 2px;
}

.modal-body {
  height: 300px;
  background: #ffffff;
  opacity: 0.9;
}

.modal-body h4 {
  color: black;
  font-size: 16px;
}


.modal-footer {
  background: $bright-yellow;
}

