.form-field-email input{
  border-radius: 3px;
  margin-bottom: 12px;
  padding: 4px 8px;
  width: 100%;
  font-size: 12px;
  border-left: none;
    border-top: none;
}


.form-field-password input {
  border-radius: 3px;
  margin-bottom: 22px;
  padding: 4px 8px;
  width: 100%;
  font-size: 12px;
  border-left: none;
  border-top: none;
}

#logbuttons {
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 10px;
  width:260px;
  margin-top: 30px;
}

.form-login  {
position: relative;
height: 150px;
margin-left: 0px;
font-size: 12px;
margin-top: 15px;
}

.form-login h4 {
  font-size: 9px;
  margin-bottom: 20px;
}

.form-login .login-button {
  padding-top: 10px;
  padding-bottom: 10px;
  /* margin-top: 5px; */
  /* margin-bottom: 5px; */
  text-align: center;
  background: #10bd29;
  color: #ffffff;
  height: 50px;
  width: 100%;
  border-radius: 3px;
  opacity: 1;
  border: none;
  letter-spacing: 1.3px;
  font-size: 16px;
  &:hover {
    border-radius: 8px;
    border: 2px solid $bright-yellow;
  }
}

.login-facebook-button {
    padding-top: 10px;
  padding-bottom: 10px;
  margin-right:10px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  background: $blue;
  color: #ffffff;
  height: 40px;
  width: 100%;
  border-radius: 2px;
  opacity: 1;
  border: none;
  letter-spacing: 1.7px;
  font-size: 16px;
  font-weight: bolder;
  &:hover {
    background: $orange;
    color: silver;
  }
}

.signup-button {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right:10px;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 40px;
  width:100%;
  text-align: center;
  color: #ffffff;
  border-radius: 3px;
  background: rgba(224, 209, 209, 0.86);
  letter-spacing: 1.3px;
  font-size: 16px;
  &:hover {
    background: #ffffff;
    border: 1px solid silver;
  }
}

.signup-button>a {
  color: blue;
}

.modal-header {
  background: $bright-yellow;
  h3 {
      letter-spacing: 8px;
      font-size: 18px;
  }
}

.modal-header p {
  margin-bottom: 2px;
}

.modal-body {
  opacity: 0.95;
  margin: 0 auto;
  display: flex;
  flex: align-items;
  height: 350px;
  width: 280px;

}

.modal-body h4 {
  color: black;
  font-size: 14px;

}

// .modal-content {
//   height: 50vh;
// }


.modal-footer {
  background: silver;
  padding: 0px;
  margin: 0px;
}

.fa .fa-facebook-official {
  margin-right: 10px;
  font-size: 2.8em;
  display: inline;
}

.fa .fa-facebook-official h4 {
  display: inline;
}

