.form-field-email input{
  border-radius: 3px;
  margin-bottom: 12px;
  padding: 4px 8px;
  width: 100%;
  font-size: 12px;
  border-left: none;
}


.form-field-password input {
  border-radius: 3px;
  margin-bottom: 22px;
  padding: 4px 8px;
  width: 100%;
  font-size: 12px;
  border-left: none;
}

.form-login  {
position: relative;
  height: 110px;
font-size: 12px;
margin-top: 15px;
}

.form-login h4 {
  font-size: 9px;
  margin-bottom: 20px;
}

.form-login .login-button {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  background: $green;
  color: black;
  height: 40px;
  width: 100%;
  border-radius: 2px;
  opacity: 1;
  border: none;
  letter-spacing: 1.7px;
  font-size: 12px;
  &:hover {
    background: $orange;
    color: $blue;
    border: 2px solid $bright-yellow;
  }
}

.login-facebook-button {
    padding-top: 10px;
  padding-bottom: 10px;
  margin-right:10px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  background: $blue;
  color: black;
  height: 40px;
  width: 100%;
  border-radius: 2px;
  opacity: 1;
  border: none;
  letter-spacing: 1.7px;
  font-size: 14px;
  &:hover {
    background: $orange;
    color: $blue;
    border: 2px solid $bright-yellow;
  }
}

.signup-button {
    height: 35px;
  width:280px;
  text-align: center;
  background: red;
  color: $orange;
  border-radius: 5%;
  color: silver;
  flex: center;
}

.modal-header {
  background: $bright-yellow;
  h3 {
      letter-spacing: 14px;
  }
}

.modal-header p {
  margin-bottom: 2px;
}

.modal-body {
  background: #ffffff;
  opacity: 0.95;
  margin: 2px !important;
  display: flex;
  height: 350px;
}

.modal-body h4 {
  color: black;
  font-size: 14px;

}

// .modal-content {
//   height: 50vh;
// }


.modal-footer {
  background: silver;
  padding: 0px;
  margin: 0px;
}

.fa .fa-facebook-official {
  margin-right: 10px;
  font-size: 2.8em;
  display: inline;
}

.fa .fa-facebook-official h4 {
  display: inline;
}

