
.modal-header img {
  width: 250px;
  margin-left: 25%;
}

.modal-header p {
  margin-bottom: 2px;
}

.modal-body {
  opacity: 0.9;
  }


.modal-footer {
  background: $bright-yellow;
}

.modal-content {
  border-radius: 8px;
}

#login-modal-background {
background: linear-gradient(-2deg, #033d90 10%, rgba(75, 79, 88, 0) 38%), url('tequila-lime');
}

