.modal-header img {
  width: 150px;
  margin-left: 25%;
}

.modal-header p {
  margin-bottom: 2px;
}

.modal-body {
  height: 30vh;
    background: $bright-yellow;
  opacity: 0.9;
  }


.modal-footer {
  background: $bright-yellow;
}

