.wrapper-grey {
  background: #ffffff;
  width: 100% !important;
  margin-top: 28px;
  padding: 0px !important;
  margin-left: 0px;
}

.wrapper-gray {
  background: #39b377;
  height: 100vh;
}

.wrapper-green {
  background: $black;
  width: 100% !important;
  // margin-top: 28px;
  padding: 0px !important;
  margin-left: 0px;
}

.wrapper-white {
  background: rgba(29, 29, 29, 0);
  width: 100% !important;
  padding: 0px !important;
  margin-left: 0px;
}

#mainrow {
  background: #FFFFFF;
  padding-bottom: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  opacity: 0.9;
  height: 50px;
  border-radius: 4px;
}


ul {
  list-style-type: none;
}

.img-circle {
  border: 2px solid black;
  border-radius: 50px;
}

a {
  text-decoration: none !important;
}

.jumbotron {
  background: $dark-gray;
  height: 25vh;
margin-top: 50px;
margin-bottom: 50px;
color: $lighter-gray;
}


.article-show-text {
  padding-top: 50px;
  margin-bottom: 45px;
  p {
    font: 100% $header-font;
    font-size: 14px;
    text-align: left;
  }
}

.prefill {
  color: $lighter-gray;
}

.prefill:focus {
  color: black;
}

.product-arrow {
  transition: all 0.15s ease;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid transparent;
  border-bottom: 9px solid black;
  border-radius: 2px;
  margin: auto;
  display: inline;
}

#logo-techmeme img {
  max-width: 120px;
  padding-top: 20px;
}

.pagination-controls {
  text-align: center;
}

// .hlink:hover {
//   background: $violet;
// }
//
#dots-box {
  height: 14px;
  width: 14px;
  background: transparent;
  position : relative;
  display: inline-block;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 4px;
}

.dot {
  width: 5px;
  height: 5px;
  // border: 2px solid black;
  // border-radius: 50%;
}

#top-left {
  position:absolute;
  top: 0px;
  left: 0px;
  animation-duration: 0.4s;
  animation-name: blink;
  animation-iteration-count: infinite;
}
@keyframes blink {
  from {
    background: green;
  }

  to {
    background: red;
  }
}

#btm-left {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: green;
}

#top-right {
  position:absolute;
  top: 0px;
  right: 0px;
  animation-duration: 0.5s;
  animation-name: blink-red;
  animation-iteration-count: infinite;
}

@keyframes blink-red {
  from {
    background: green;
  }

  to {
    background: red;
  }
}

#btm-right {
  position: absolute;
  bottom: 0px;
  right: 0px;
  background: green;
}

.menu-sources {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

