.wrapper-grey {
  background: #ffffff;
  width: 100% !important;
  margin-top: 28px;
  padding: 0px !important;
  margin-left: 0px;
}

.wrapper-gray {
  background: #39b377;
  height: 100vh;
}

.wrapper-green {
  background: $yellow;
  width: 100% !important;
  // margin-top: 28px;
  padding: 0px !important;
  margin-left: 0px;
}

#mainrow {
  background: #FFFFFF;
  padding-bottom: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  opacity: 0.9;
  height: 50px;
  border-radius: 4px;
}


ul {
  list-style-type: none;
}

.img-circle {
  border: 2px solid black;
  border-radius: 50px;
}

a {
  text-decoration: none !important;
  color: black !important;
}

.jumbotron {
  background: $dark-gray;
  height: 25vh;
margin-top: 50px;
margin-bottom: 50px;
color: $lighter-gray;
}


.article-show-text {
  padding-top: 50px;
  margin-bottom: 45px;
  p {
    font: 100% $header-font;
    font-size: 14px;
    text-align: left;
  }
}

.prefill {
  color: $lighter-gray;
}

.prefill:focus {
  color: black;
}

.product-arrow {
  transition: all 0.15s ease;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid transparent;
  border-bottom: 9px solid black;
  border-radius: 2px;
  margin: auto;
  display: inline;
}

#logo-techmeme img {
  max-width: 120px;
  padding-top: 20px;
}

.pagination-controls {
  text-align: center;
}



