.wrapper-grey {
  background: #4b4b4b;
  width: 100%;
  margin-top: 25px;
}

.container-fluid {
  max-width: 90%;
  background: #FFFFFF;
  margin-top: 5px;
  margin-left: auto;
}

.row {
  background: #FFFFFF;
  width: 100% !important;
  padding-top: 10px;
  margin-left: 10px;
  margin-right: 0px;
}

ul {
  list-style-type: none;
}

.img-circle {
  border: 2px solid black;
  border-radius: 50px;
}

a {
  text-decoration: none !important;
  color: black !important;
}
