<div class="wrapper-white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center">
          TECHMEME
        </div>
        <% @techmemes.each do |t| %>
          <div class="card-article">
            <h3><%= t.title %></h3>
            <h5><% t.source %></h5>
          </div>
        <% end %>
        <%= paginate @techmemes %>
        </div>
      </div>
    </div>
  </div>
</div>
