<div class="wrapper-subnav">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 ">
        <%= render 'shared/sources-menu' %>
      </div>
    </div>
  </div>
</div>
<div class="wrapper-white">
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h5>TECHMEME - Latest</h5>
      <% @techmemes.each do |t| %>
        <div class="card-article">
          <h3><%= t.title %></h3>
          <h5><%= t.source %></h5>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
