<div class="wrapper-white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="head-card">
          Latest on TECHMEME
          <%= image_tag("tm-logo.gif") %>
        </div>
        <% @techmemes.each do |t| %>
          <div class="card-article">
            <h5><%= t.title %></h5>
            <h5><% t.source %></h5>
              <i class="fa fa-floppy-o" aria-hidden="true"></i>
              <i class="fa fa-star-o" aria-hidden="true"></i>
              <i class="fa fa-heart-o" aria-hidden="true"></i>
          </div>
        <% end %>
        <%= paginate @techmemes %>
        </div>
      </div>
    </div>
  </div>
</div>
