.card {
/*  border: 2px solid silver;*/
  border-radius: 3px;
  margin: 10px;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 10px;
  font-family: 'Nunito', sans-serif;
}

.silverback {
  background: silver;
}
