// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-form-title {
  width: 300px;
  border-radius: 4px;
}

.comment-form-body {
  width: 300px;
  height: 60px;
  border-radius: 4px
}
