<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4"></div>

      <h1>HN Front Page</h1>
      <div class="card">
        <% @entriesArray.each do |entry| %>
        <h4><%= entry.title %></h4>
      <% end %>
      </div>

  </div>
</div>
